<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380167887069-cs9lkrhmk086558nio44pguvguduircb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380167887069-cs9lkrhmk086558nio44pguvguduircb</string>
	<key>API_KEY</key>
	<string>AIzaSyAjogffTEpizv5IrkzhIrVdn1EkLtN9a_s</string>
	<key>GCM_SENDER_ID</key>
	<string>380167887069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cinegriff.com.CineGriff</string>
	<key>PROJECT_ID</key>
	<string>ciff-d46ce</string>
	<key>STORAGE_BUCKET</key>
	<string>ciff-d46ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380167887069:ios:79ec2bc43304c78f1ea334</string>
</dict>
</plist>